<div class="profile" id="<%= dom_id profile %>">
  <p class="profile__name"><%= profile.name %></p>
  <p class="profile__show-link"><%= link_to "Show this profile", profile, class: "button button--small" %></p>
</div>
