<header class="header">
  <h1>Profiles</h1>
  <%= render 'feedback' %>
</header>
<div class="container container--constrain">
  <div class="links">
    <%= link_to "New profile", new_profile_path, class: "button" %>
  </div>
  <div class="profiles-list">
    <% @profiles.each do |profile| %>
      <%= render 'profile_list_item', profile: profile %>
    <% end %>
  </div>
</div>
<%= render 'admin/links' %>
