/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

html {
  background-color: #1E1E1E;
}

body {
  overflow-x: hidden;
}

.content-wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pages.index .content-wrapper::after {
  --width: 56vw;
  --aspect-ratio: 0.7493;
  display: block;
  position: absolute;
  left: -1.5vw;
  bottom: 6vw;
  width: var(--width);
  height: calc(var(--width) * var(--aspect-ratio));
  opacity: 0.4;
  content: "";
  background: left bottom no-repeat url("hands.png");
  background-size: contain;
  z-index: -1;
}
@media (min-width: 560px) {
  .pages.index .content-wrapper::after {
    --width: 69vw;
    left: -1.5vw;
    bottom: 6vw;
  }
}
@media (min-width: 1024px) {
  .pages.index .content-wrapper::after {
    --width: 50vw;
    left: -2vw;
    bottom: 2vw;
  }
}
.pages.about .content-wrapper::after {
  --width: 56vw;
  --aspect-ratio: 0.7493;
  display: block;
  position: absolute;
  right: -1.5vw;
  bottom: 25vw;
  width: var(--width);
  height: calc(var(--width) * var(--aspect-ratio));
  opacity: 0.4;
  content: "";
  background: right bottom no-repeat url("sparkle.png");
  background-size: contain;
  z-index: -1;
}
@media (min-width: 560px) {
  .pages.about .content-wrapper::after {
    --width: 69vw;
    right: -1.5vw;
    bottom: 6vw;
  }
}
@media (min-width: 1024px) {
  .pages.about .content-wrapper::after {
    --width: 50vw;
    right: -2vw;
    bottom: 2vw;
  }
}

.header {
  padding: 1.25em 0 3em;
}
@media (min-width: 560px) {
  .header {
    padding: 4em 0 2em;
  }
}
.header h1 .highlight {
  color: #ECE397;
}

.container {
  margin: 0 auto;
  padding: 2em;
  width: 100%;
  max-width: 1280px;
}
@media (min-width: 560px) {
  .container {
    padding: 2em 4em;
  }
}
.container > .container {
  padding: 2em 0;
}
.container--constrain {
  max-width: 800px;
}
.container--full {
  max-width: 100%;
}

.supertool__input {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.supertool__input::placeholder {
  color: transparent;
}
@media (min-width: 560px) {
  .supertool {
    padding: 2em;
  }
  .supertool__input {
    padding: 1em;
    font-size: 1.5em;
    font-weight: 500;
  }
  .supertool__input::placeholder {
    color: #6D6D6D;
  }
}

.footer {
  position: relative;
  z-index: 1;
  background-color: #273746;
  padding-top: 4em;
  padding-bottom: 4em;
}
@media (min-width: 560px) {
  .footer {
    padding-top: 7em;
    padding-bottom: 7em;
  }
}
.footer__logo {
  display: block;
  margin: 0 auto 2em;
  max-width: 900px;
}
@media (min-width: 560px) {
  .footer__logo {
    margin-bottom: 7em;
  }
}
.footer__logo a {
  display: block;
}
.footer__logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.footer .footer__links a {
  font-size: 1.2em;
}

html {
  font-size: 16px;
}

body, button, input, select, textarea {
  font-family: Inter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: clamp(1.95em, 2.15em + 1.75vw, 3.6em);
  font-weight: 700;
  color: #F1F1F1;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.17em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: #F1F1F1;
}

button, input, select, textarea {
  font-size: 1em;
}

.instructions {
  display: block;
  margin: 0 auto;
  font-size: 1.15em;
  font-weight: 500;
  text-align: center;
  color: #F1F1F1;
}
@media (min-width: 560px) {
  .instructions {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin: 2em auto 0;
}
@media (min-width: 560px) {
  .links {
    flex-direction: row;
    gap: 3em;
  }
}
.links a {
  color: #ECE397;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}
.links a:hover {
  text-decoration: underline;
}
@media (min-width: 560px) {
  .links--column {
    flex-direction: column;
    gap: 1.75em;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
@media (min-width: 560px) {
  form {
    gap: 2em;
  }
}

.form-feedback h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: #F1F1F1;
}
.form-feedback h2.notice {
  background-color: #ECE397;
  color: #1E1E1E;
  padding: 0.3em 0.5em;
  margin: 0 auto 2em;
  width: max-content;
}
.form-feedback .form-feedback__list {
  list-style: disc;
  margin: 1em;
  padding-left: 2em;
}
.form-feedback .form-feedback__list li {
  font-size: 1.2em;
  font-weight: 500;
  background-color: red;
  color: #F1F1F1;
}

.field__label {
  font-size: 1.15em;
  line-height: 1.4;
  font-weight: 500;
  color: #ECE397;
  text-transform: lowercase;
  cursor: pointer;
}
.field__label + i {
  font-size: 0.8em;
  color: #F1F1F1;
  display: block;
  margin: 0.3em 0 0.5em;
}
@media (min-width: 560px) {
  .field__label {
    font-size: 1.5em;
    line-height: 1.6;
    display: inline;
  }
  .field__label + i {
    font-size: 0.9em;
  }
}
.field .field__input {
  font-size: 1em;
  font-weight: 500;
  color: #1E1E1E;
  background-color: #F1F1F1;
  width: 100%;
  padding: 0.65em;
  border: 0 none;
  height: 2.25rem;
}
@media (min-width: 560px) {
  .field .field__input {
    font-size: 1.2em;
    height: 3.5rem;
  }
}
.field .field__input::placeholder {
  color: #6D6D6D;
}
.field .field__input:focus {
  box-shadow: inset 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.field .field__input.invalid {
  box-shadow: inset 0 0 0 0.2rem #FF4136;
}
.field .field__input.invalid:focus {
  box-shadow: inset 0 0 0 0.2rem #ffa19c;
}
.field .field__input + .field__guidance {
  display: block;
  font-size: 0.75em;
  font-style: normal;
  color: #ECE397;
  margin-top: 0.5em;
}
.field .field__input--checkbox {
  position: relative;
  margin-right: 0.25em;
  width: 1rem;
  height: 1rem;
  padding: 0;
  background-color: #F1F1F1;
  cursor: pointer;
}
.field .field__input--checkbox:checked {
  background-color: #ECE397;
}
.field .field__input--checkbox:checked::before {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  background-color: #273746;
}
.field .field__input--checkbox .field__label span {
  display: inline-block;
  color: #F1F1F1;
  font-size: 0.65em;
  transform: translateY(-0.2em);
}

.button {
  display: block;
  height: 3.5rem;
  text-align: center;
  background-color: #316CA3;
  color: #F1F1F1;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 2em;
  font-size: 1.2em;
  font-weight: 500;
}
.button:hover {
  color: #1E1E1E;
  background-color: #ECE397;
}
.button--danger {
  background-color: #FF4136;
}
.button--danger:hover {
  background-color: #ff1103;
}

.danger-container {
  position: relative;
  margin: 4em auto 0;
  padding-top: 4em;
}
.danger-container::before {
  position: relative;
  top: -4em;
  content: "";
  display: block;
  height: 0;
  width: 10em;
  margin: 0 auto;
  border-top: 1px solid #F1F1F1;
}
