<div class="links links--column">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %>
  <% end %>
  <% unless current_page?(sign_in_path) %><%= link_to "Log in", sign_in_path %><% end %>
  <% unless current_page?(sign_up_path) %><%= link_to "Sign up", sign_up_path %><% end %>
</div>
