<div class="container container--constrain">
  <div class="links">
    <%= link_to t('nav_links.skills'), skills_path, class: "button button--small" %>
    <%= link_to t('nav_links.profiles'), profiles_path, class: "button button--small" %>
    <%= link_to t('nav_links.edit_user'), edit_user_registration_path, class: "button button--small" %>
  </div>
</div>
