<div class="container container--constrain">
  <div class="links">
    <%= link_to "Skills", skills_path, class: "button button--small" %>
    <%= link_to "Profiles", profiles_path, class: "button button--small" %>
    <%= link_to "Edit User Account", edit_user_registration_path, class: "button button--small" %>
  </div>
</div>
