<div class="container" data-controller="admin">
  <header class="header">
    <h1>Admin Index</h1>
    <%= render 'feedback' %>
  </header>
  <div class="container container--constrain">
    <%= render 'links' %>
  </div>
</div>
