<div class="container" data-controller="skills">
  <header class="header">
    <h1>Skills</h1>
    <%= render 'feedback' %>
  </header>
  <div class="container container--constrain">
    <div class="skills__container">
      <%= render 'skills_list', skills: @skills %>
      <%= render 'form', skill: @skill || Skill.new %>
    </div>
  </div>
</div>
