<div class="container">
  <%= render 'feedback' %>
  <header class="header">
    <h1>Skills</h1>
  </header>
  <div class="container container--constrain">
    <div id="skills">
      <% @skills.each do |skill| %>
        <%= render skill %>
        <p>
          <%= link_to "Show this skill", skill %>
        </p>
      <% end %>
    </div>
    <%= link_to "New skill", new_skill_path %>
  </div>
</div>
