<div class="container">
  <header class="header">
    <h1>Skills</h1>
    <%= render 'feedback' %>
  </header>
  <div class="container container--constrain">
    <div class="skills__container">
      <div class="skills__list" id="skills">
        <% @skills.each do |skill| %>
          <%= render skill %>
        <% end %>
      </div>
      <%= render 'form', skill: @skill || Skill.new %>
    </div>
  </div>
</div>
