<div class="container" data-controller="about">
  <header class="header">
    <h1>what we're <span class="highlight">about</span></h1>
  </header>
  <div class="container container--constrain">
    <p>Human Skills is a platform for finding the right people for your team.</p>
    <p>It's a place to find people who are passionate about what they do, and who are looking for a place to do it.</p>
  </div>
</div>
