<div class="container" data-controller="home">
  <header class="header">
    <h1>find the right <span class="highlight">human</span></h1>
  </header>
  <div class="container container--constrain">
    <div class="supertool field">
      <input name="supertool" class="field__input supertool__input" type="text" placeholder="search by skill, location, language, etc...">
    </div>
  </div>
  <div class="container results">
    <p class="instructions">search by skill, location, language, etc...</p>
    <%= render 'feedback' %>
  </div>
</div>
