.profiles-list {
  display: grid;
  gap: 1em;
  margin: 3em 0;
}

.profile-list-item {
  &__name {
    font-weight: 600;
  }

  &__link {
    color: $light-yellow;
  }
}

.profile {
  display: grid;
  gap: 0.85em;

  h3 {
    color: $off-white;
  }
}
