@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';

html {
  font-size: 16px;
}

body,
button,
input,
select,
textarea {
  font-family: Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: clamp(1.95em, 2.15em + 1.75vw, 3.6em);
  font-weight: 700;
  color: $off-white;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.17em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  font-size: 1em;
  line-height: 1.6;
  color: $off-white;
}

button,
input,
select,
textarea {
  font-size: 1em;
}

.instructions {
  display: block;
  margin: 0 auto;
  font-size: 1.15em;
  font-weight: 500;
  text-align: center;
  color: $off-white;

  @include small-up {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin: 2em auto 0;

  .container > &:first-child:last-child {
    margin: 0 auto;
  }

  @include small-up {
    flex-direction: row;
    gap: 3em;
  }

  a {
    color: $light-yellow;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &--column {
    @include small-up {
      flex-direction: column;
      gap: 1.75em;
    }
  }
}
